scanpy==1.10.3
anndata==0.10.4

numpy==1.26.4
scipy
pandas
scikit-learn
matplotlib

python-igraph==0.11.9
igraph==0.11.9
leidenalg>=0.10.2
louvain==0.8.2

harmonypy==0.0.10
ipywidgets
pybiomart
jupyter
